<%- include("partials/head") %>
  <div class="flex flex-row">
    <%- include("partials/sidebar") %>
      <div class="flex flex-col max-h-screen w-full overflow-auto">
        <%- include("partials/header") %>
          <main class="m-3">
            
          </main>
      </div>
  </div>
  <%- include("partials/footer") %>